<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
	<title>Assuring the Quality - New Post</title>
</head>
<body>
	<div id="title" align="center">
		Assuring the Quality
	</div>
	<div id="subtitle" align="center">
		one bug at a time....
	</div>
	<div class="blog">
		<% form_for(@blog) do |f| %>
		<h6>Rename it</h6><%= f.text_field(:name, :class=>"textfield") %>
		<br/>
		<div id="mute">Cannot be more than 50 characters</div>
		<br/>
		<h6>Reassign it</h6><%= collection_select(:blog, :author_id, Author.all, :id, :name) %>
		<br/>
		<br/>
		<h6>Rethink it</h6>
		<%= f.text_area :post %>	
		<br/>
	 	<%= f.submit 'Create' %> <a href="/blogs">Cancel</a>
		<% end %>

	</div>
	<div id="footer">
		2010 Fellowship Technologies | Design by Bryan Mikaelian | For Demo Purposes Only | NOM NOM NOM
	</div>
</body>
</html>