<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
	<title>Assuring the Quality - Edit Author</title>
</head>
<body>
	<div id="title" align="center">
		Assuring the Quality
	</div>
	<div id="subtitle" align="center">
		one bug at a time......
	</div>
	<div id="requiredField">
		* = required field
	</div>
	<div id="validation" align="justified">
		<%= error_messages_for :author %>
	</div>
	<div class="blog">
		<% form_for(@author) do |f| %>
		<h6>Author Name *</h6><%= f.text_field(:name, :class=>"textfield") %>
		<br/>	
		<br/>
	 	<%= f.submit 'Update Name' %> 
		<a href="/authors">Return</a>
		<% end %>

	</div>
	<div id="footer">
		2010 <a href="">Fellowship Technologies</a>  | Design by Bryan Mikaelian | For Demo Purposes Only 
	</div>
</body>
</html>