<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
	<title>Assuring the Quality - New Author</title>
</head>
<body>
	<div id="title" align="center">
		Assuring the Quality
	</div>
	<div id="subtitle" align="center">
		one bug at a time....
	</div>
	<div class="blog">
		<% form_for(@author) do |f| %>
		<h6>Author Name</h6><%= f.text_field(:name, :class=>"textfield") %>
		<br/>	
		<br/>
	 	<%= f.submit 'Create author' %> 
		<a href="/authors">Cancel</a>
		<% end %>

	</div>
	<div id="footer">
		2010 Fellowship Technologies | Design by Bryan Mikaelian | For Demo Purposes Only 
	</div>
</body>
</html>